#app {
    width: 100%;
    height: 800px;
    background-color: dimgrey;
}
body{
    background-color: grey;
}

.container
{
    text-align: center;
}

#mycarousel,#mycarousel1{
    background-color:dimgrey;
}
#mycarousel img{
    height : 300px;
    margin-top: 35px;    
}
#mycarousel1 img{
    height : 300px;
    margin-top: 35px; 
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color:darkslateblue;
    font-size: 20px;
}